div.container {
  background-color: $cardColor;
  border-radius: 5px;
  box-shadow: 1px 2px 15px 5px $boxShadow;
  width: 85%;
  height: 16.25rem;
  margin: 3.125rem auto;
  padding: 1.25rem;

  .logo {
    position: relative;
    width: 50px;
    bottom: 2.6rem;

    img {
      width: 50px;
    }
  }

  .job {
    display: flex;
    margin-top: -1.875rem;

    h1 {
      color: $primaryColor;
      font-size: $titleFontSize;
      font-weight: $fontBold;
      padding-right: 1rem;
    }
  }

  .job-title {
    margin: 1rem 0;
    text-align: left;

    h2 {
      color: $largeTextColor;
      font-size: $subtitleFontSize;
      font-weight: $fontBold;
    }
  }

  .job-info {
    color: $smallTextColor;
    font-size: $titleFontSize;
    font-weight: $fontRegular;
    margin-bottom: 1rem;
  }

  .job-tags {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;

    button {
      @include filter-buttons;
    }
  }
}
